body {
    width: auto;
    background-color: rgb(202, 235, 248);
    align-items: center;
}

div{
    float: left;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin: 5px;
    border-radius: 10px;
}

h2 {
    color: rgb(65, 64, 64);
    margin: 15px;
}

img {
    float: left;
    width: 200px;
    height: 320px;
    margin: 5px;
    background-color: transparent;
    border-radius: 15px;
}

@media screen and (max-width:700px) {
    .product_list_item {
        float: left;
        width: 100%;
    }
}